<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977078678492-a2iqlq8uo970qior2a5j19udr73b672q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977078678492-a2iqlq8uo970qior2a5j19udr73b672q</string>
	<key>API_KEY</key>
	<string>AIzaSyDEz36fZXMfZc_PXN7SDhyHu5PaQ86Fm1E</string>
	<key>GCM_SENDER_ID</key>
	<string>977078678492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cleaningApp</string>
	<key>PROJECT_ID</key>
	<string>izaan-cleaning-app</string>
	<key>STORAGE_BUCKET</key>
	<string>izaan-cleaning-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977078678492:ios:417f5d81d7d22d04d31519</string>
</dict>
</plist>